/* feature */
.feature
	min-height 340px
	background-color $white
	
	&__column
		margin-top 60px
		margin-bottom 65px

.column
	&__icon
		margin 0 auto
		margin-bottom 30px

	&__title
		margin-bottom 25px

.icon
	width 100px
	height @width
	text-align center
	background-color #48baff;
	border-radius 2px

	&__image
		margin-top 15px
		display inline-block
		font-size 70px
		color $white
		text-shadow 1px 1px 2px rgba(2, 2, 2, .47)
	
	&--size
		margin-top 30px
		font-size 40px
		
	&--resize
		margin-top 28px
		font-size 42px