/* pure-design */
.pure-design
	min-height 340px
	
	&__title
		margin-top 80px
		margin-bottom 30px

.title
	font-size $font-size-h2
	font-weight normal
	text-align center
	color #2d3950

.text
	font-size 20px
	text-align center
	color #999
	line-height 1.5

.pure-design__text
	margin-right 30px
	margin-left 35px
	margin-bottom 80px
